{% extends "../base.html" %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<style>
/* Silder carrousel*/
.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
  margin-top: 2%;
  transition-duration: 550ms;

}
html {
  scroll-behavior: smooth;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}


@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



 img {
  display: block;
  min-height: 250px;
  max-height: 250px;
  max-width: 100%;
  height: auto;
}
.card{
padding: 2px;
transition-duration: 550ms;
background-color: rgb(47, 146, 192);

}
.card-body{
  transition-duration: 550ms;
}

.card:hover{
background-color: rgb(28, 82, 107);

padding: 2px;
}
.card:hover .card-body{
  transition-duration: 550ms;
opacity: 1;
}

</style>

<div class="container" style="max-width: 1000px">
  <div class="col-12">
    <h1 class="h2" style=" text-align:center;font-weight: bold; color: rgb(47, 146, 192);">{{ category.name|title }}</h1>
  </div>
  
    <p style=" text-align:center; ">Selección de especialistas en el ámbito de {{ category.name|title }}</p>
  
  <hr />
</div>
<div class="container">
  <div class="row">
    <div class="album">
      {% if not products %}
      <div class="col-12">No hemos encontrado médicos que coincidan con tu búsqueda, prueba a buscar de nuevo otro nombre o vuelve al <a href="{% url 'catalogue:store_home' %}">Menú principal</a></div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card border-0" >
            
            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}"
              alt="{{ product.name }}">
            <div class="card-body">
              <p class="card-text" style="text-align: center;">
                <a class="text-white text-decoration-none" style="font-weight: bold;"
                  href="{{ product.get_absolute_url }}">{{ product.name|slice:":50" }} {{ product.surname|slice:":50" }}</a>
              </p>
              <div class="fw-bold" style="color: #fff;">{{product.regular_price}}€</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <hr>
  <br>
  <br>


  <div class="slider" >
      <ul>
        <li>
          <img src="https://immagini.quotidiano.net/?url=http://p1014p.quotidiano.net:80/polopoly_fs/1.8166891.1665461713!/httpImage/image.jpg_gen/derivatives/cinemascope/image.jpg&w=700
          " alt="">
  </li>
        <li>
          <img src="https://www.gla.ac.uk/media/Media_585017_smxx.jpg" alt="">
  
  </li>
        <li>
          <img src="https://www.studentassignmenthelp.co.uk/wp-content/uploads/2017/09/5.jpg" alt="">
  
        <li>
          <img src="https://f.hubspotusercontent10.net/hubfs/7694067/Imported_Blog_Media/comonosadaptamos.jpg" alt="">
  
      </ul>
    </div>




</div>

{% endblock %}