{% extends "../base.html" %}
{% load static %}
{% block title %}Basket Summary{%endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">Direcciones de Envío</h1>
  </div>
  <div class="col-12">
    <p>Por favor, dótenos de su dirección de envío</p>
  </div>
  <hr />
</div>


<div class="container">
  <div class="row g-3">
    {% if "temporal" in email %}
    <div class="col-12">Por favor, escriba su email</div>
    <div class="col-12">
      <input type="text" class="form-control" id="email" name="email" placeholder="email" />
        <button type="button" class="btn btn-primary m-1" id="update_email">Confirmar</button>

    {% else %}
    <div class="col-md-4 col-lg-4 order-md-last p-0 order-3">
    
<div class="d-flex bd-highlight ms-0">
  <div class="p-2 flex-grow-1 bd-highlight">Sub Total:</div>
  <div class="p-2 bd-highlight"><span class="fw-bold h5">€</span><span id="sub_total"class="fw-bold h5">{{basket.get_subtotal_price}}</span></div>
</div>
<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">Coste de Envío:</div>
  <div class="p-2 bd-highlight"><span class="fw-bold h5">€</span><span id="delivery_price" class="fw-bold h5">{{basket.get_delivery_price}}</span></div>
</div>
<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">Total:</div>
  <div class="p-2 bd-highlight"><span class="fw-bold h5">€</span><span id="total"class="fw-bold h5">{{basket.get_total_price}}</span></div>
</div>
<a role="button" href="{% url 'checkout:payment_selection' %}" class="btn btn-success fw-bold w-100" type="button">Paga de Forma Segura</a>
</div>
    
    <div class="col-md-7 col-lg-8">
        <h1 class="h5 pt-4">Dirección de correo actual</h1>
        <p>{{email}}</p>

    </div>
    {% endif %}
  </div>
  
</div>

    <script>
        $(document).on('click', '#update_email', function(e) {
            var email = $('#email').val();
            e.preventDefault();
            $.ajax({
                url: "{% url 'checkout:update_email' %}",
                type: "POST",
                data: {
                    'email': email,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    location.reload();
                }
            });
        });
    </script>

{% endblock %}



