{% extends "../base.html" %}
{% load static %}
{% block title %}Términos y condiciones{%endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1>Términos y condiciones</h1>
  </div>
  <div class="col-12">
    <p class="texto-justificado">¡Bienvenido a CIT@MEDICA!<br><br>
      Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de CIT@MEDICA.<br><br>
      Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones. No continúes usando CIT@MEDICA si no estás de acuerdo con todos los términos y condiciones establecidos en esta página.<br><br>
      Esto es una página web para poder gestionar sus citas médicas. En la que podrá buscar por departamento y médico la cita que necesite. Se recuerda que son citas a una clínica privada, por lo que la cita llevará un coste para poder ser atendida. Podrá pagar gracias a las pasarelas de pago en esta misma web.<br><br>
      Las citas solicitadas podrán ser revisadas en el calendario de la web para que usted pueda tenerlas organizadas visualmente.<br><br>
      En cuanto a la atención al cliente, este podrá anular su cita o cambiar cualquier información después de haberla pedido mediante las incidencias que puede realizar en la web. Al anular la cita se devolverá la cantidad total del importe si se adjunta una justificación válida.<br><br>
      Se pide por favor que asista a la cita pedida y de manera puntual, para no generar ningún tipo de conflicto con el médico.<br><br>
      </p>
  </div>
  <div class="col-12">
    <h3>Cookies:</h3>
  </div>
  <div class="col-12">
    <p class="texto-justificado">El sitio web utiliza cookies para ayudar a personalizar tu experiencia en línea. Al acceder a CIT@MEDICA, aceptaste utilizar las cookies necesarias.<br><br>
      Una cookie es un archivo de texto que un servidor de páginas web coloca en tu disco duro. Las cookies no se pueden utilizar para ejecutar programas o enviar virus a tu computadora. Las cookies se te asignan de forma exclusiva y solo un servidor web en el dominio que emitió la cookie puede leerlas.<br><br>
      Podemos utilizar cookies para recopilar, almacenar y rastrear información con fines estadísticos o de marketing para operar nuestro sitio web. Tienes la capacidad de aceptar o rechazar cookies opcionales. Hay algunas cookies obligatorias que son necesarias para el funcionamiento de nuestro sitio web. Estas cookies no requieren tu consentimiento ya que siempre funcionan. Ten en cuenta que al aceptar las cookies requeridas, también aceptas las cookies de terceros, que podrían usarse a través de servicios proporcionados por terceros si utilizas dichos servicios en nuestro sitio web, por ejemplo, una ventana de visualización de video proporcionada por terceros e integrada en nuestro sitio web.<br><br>
      </p>
  </div>
  <div class="col-12">
    <h3>Licencia:</h3>
  </div>
  <div class="col-12">
    <p class="texto-justificado">A menos que se indique lo contrario, CIT@MEDICA y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en CIT@MEDICA. Todos los derechos de propiedad intelectual son reservados. Puedes acceder desde CIT@MEDICA para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.<br><br>
     </p>
  </div>
  <div class="col-12">
    <h3>Responsabilidad del contenido:</h3>
  </div>
  <div class="col-12">
    <p class="texto-justificado">No seremos responsables de ningún contenido que aparezca en tu sitio web. Aceptas protegernos y defendernos contra todas las reclamaciones que se presenten en tu sitio web. Ningún enlace(s) debe aparecer en ningún sitio web que pueda interpretarse como difamatorio, obsceno o criminal, o que infrinja, de otra manera viole o defienda la infracción u otra violación de los derechos de terceros.<br><br>
    </p>
  </div>
  <div class="col-12">
    <h3>Reserva de derechos:</h3>
  </div>
  <div class="col-12">
    <p class="texto-justificado">Nos reservamos el derecho de modificar estos términos y condiciones y su política de enlaces en cualquier momento.<br><br></p>
  </div>
  <div class="col-12">
    <h3>Exención de responsabilidad:</h3>
  </div>
  <div class="col-12">
    <p class="texto-justificado">
      No nos hacemos responsables de las citas en las que el cliente no haya asistido si no ha anulado de forma previa, por lo que no se le devolverá el importe de la cita correspondiente.  
    </p>
  </div>
</div>

<style> 
  .texto-justificado{
    text-align: justify;
    }
</style>

{% endblock %}