{% extends 'main/base.html' %}
{% load static %}

{% block body %}
		<!-- site__body -->
		<div class="site__body">
			<div class="block about-us">
				<div class="about-us__image"></div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12 col-xl-10">
							<div class="about-us__body">
								<h1 class="about-us__title">Sobre nosotros</h1>
								<div class="about-us__text typography">
									<p>Somos Cit@Médica, un servicio Premium dedicado a velar por la integridad física y la salud de cada uno de nuestros valiosísimos clientes. Para ello ofrecemos el mejor servicio de gestión de citas médicas al alcance de varios clicks, con multitud de posibilidades</p>
									<p> Contamos con multitud de profesionales en el sector, los cuales vindrarán una experiencia única e inmejorable en cada una de las visitas que necesites para su bienestar físico y mental
								</div>
								<div class="about-us__team">
									<h2 class="about-us__team-title">PGPI-G.dos.cuatro</h2>
									<div class="about-us__team-subtitle text-muted"> Este servicio médico es ofrecido gracias a los alumnos que componen al grupo G.dos.cuatro de la asignatura PGPI de cuarto de Ingeniería Informática. Ingeniería del software.</div>
									<div class="about-us__teammates teammates">
										<div class="owl-carousel">
											<div class="teammates__item teammate">
												<div class="teammate__avatar"><img src='{% static "images/teammates/image_dni (1).jpg" %}' alt=""></div>
												<div class="teammate__name">Eloy Moreno Dominguez </div>
												<div class="teammate__position text-muted"></div>
											</div>
											<div class="teammates__item teammate">
												<div class="teammate__avatar"><img src="{% static 'images/teammates/teammate-3.jpg' %}" alt=""></div>
												<div class="teammate__name"> José Mª García Quijada</div>
												<div class="teammate__position text-muted"></div>
											</div>
											<div class="teammates__item teammate">
												<div class="teammate__avatar"><img src="{% static 'images/teammates/teammate-3.jpg' %}" alt=""></div>
												<div class="teammate__name"> Juan Antonio Mena Vargas</div>
												<div class="teammate__position text-muted"></div>
											</div>
											<div class="teammates__item teammate">
												<div class="teammate__avatar"><img src="{% static 'images/teammates/IMG_20221123_134101.jpg' %}" alt=""></div>
												<div class="teammate__name">Miguel Gaviro Martínez </div>
												<div class="teammate__position text-muted"></div>
											</div> 
											<div class="teammates__item teammate">
												<div class="teammate__avatar"><img src="{% static 'images/teammates/teammate-3.jpg' %}" alt=""></div>
												<div class="teammate__name">Diego Jesús Díaz López </div>
												<div class="teammate__position text-muted"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- site__body / end -->
{% endblock %}
		